<template>
  <div id="app">
    probando firebase
    {{productos}}
  </div>
</template>
<script>
import firebase from "firebase/app";
import "firebase/database";

let config = {
  apiKey: "AIzaSyAfej3u5tdQnbDY53tLjEakXdPXY876uKo",
  authDomain: "crudlisto-2f8f1.firebaseapp.com",
  databaseURL: "https://crudlisto-2f8f1.firebaseio.com",
  projectId: "crudlisto-2f8f1",
  storageBucket: "",
  messagingSenderId: "158021422253",
  appId: "1:158021422253:web:83af9baf2b9357a1f80a24",
  measurementId: "G-RRLKP9WG8S"
};

firebase.initializeApp(config);

let db = firebase.database();
let productos = db.ref("productos");

export default {
  data() {
    return {
      productos: []
    };
  },
  firebase: {
    productos
  },
  mounted() {
    productos.on("value", snapshot => {
      console.log(snapshot.val());
    });
  }
};
</script>